.countrie {
  width: 100vw;
  height: calc(100vh - 80px);
}

.lightTheme {
  height: auto;
  background-color: #fafafa;
}

.darkTheme {
  height: auto;
  background-color: #212e37;
  color: #fff;
}

.infos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-template-rows: 20% 50% 10%;
  gap: 50px;
}

.flag {
  min-height: 250px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: hidden;
}

.flag img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.countrieInfos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-left: 250px;
}

.countrieInfos h1 {
  grid-column: 1 / 3;
}

.groupInfos01 {
  grid-column: 1 / 2;
}

.borderCountries {
  width: 100%;
  height: auto;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.borderCountries p {
  width: 100%;
  display: flex;
  align-items: center;
}

.borderCountries p strong {
  width: 100%;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
}

.btnBack {
  width: 140px;
  height: 40px;
  border: 1px solid #e9e8e8;
  background-color: #fafafa;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
  cursor: pointer;
}

.btnBack:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.darkBack {
  background-color: #354957;
  color: #fff;
  border: 1px solid #2c3d49;
}

.lightBack {
  border: 1px solid #e9e8e8;
}

@media (max-width: 1460px) {
  .countrieInfos {
    margin-left: 0;
  }
}

@media (max-width: 980px) {
  .infos {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-top: 50px;
  }

  .infos {
    grid-template-rows: 5% 90% 5%;
  }
}

@media (max-width: 376px) {

  .countrieInfos {
    display: flex;
    flex-direction: column;
  }

  .countrieInfos h1 {
    text-align: center;
  }

  .infos {
    height: auto;
    padding-bottom: 50px;
    gap: 0px;
  }

  .btn {
    padding-bottom: 40px;
  }

  .flag {
    width: 100%;
    min-height: 300px;
  }

  .flag img {
    width: 100%;
    height: 100%;
  }

  .borderCountries {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

  }

  .borderCountries p {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .borderCountries p strong {
    width: 100%;
    text-align: center;
  }
}
