.btnCountries {
    width: auto;
    margin: 0 10px;
    padding: 10px 15px;
}

.darkTheme {
    background-color: #354957;
    color: #fff;
    border: 1px solid #2c3d49;
}

.lightTheme {
    border: 1px solid #e9e8e8;
}
