.btnCountries {
    width: 40%;
    margin: 5px 0px;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
}

.darkTheme {
    background-color: #354957;
    color: #fff;
    border: 1px solid #2c3d49;
}

.lightTheme {
    border: 1px solid #e9e8e8;
}
