.card {
    width: 250px;
    max-height: 350px;
    margin-top: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.lightTheme {
    background-color: #fff;
}

.darkTheme {
    background-color: #2b3743;
    color: #fff;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
} 

.flag {
    width: 100%;
    height: 150px;
    border-radius: 7px 7px 0 0;
    background-color: #fff;
    overflow: hidden;
}

.flag img {
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.infos {
    margin-left: 15px;
}

.infos h3 {
    font-size: 300;
}
.infos p {
    font-size: 0.8rem;
}