.header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.headerItems {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darkTheme {
    background-color: #212e37;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.lightTheme {
    background-color: #fafafa;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}